extends layout

block content
  h1 Home
  if list_messages
    ul
      each message in list_messages
        li
          h2 #{message.title}
          p #{message.text}
          if currentUser
            p #{message.author.username}
            p #{message.created_at}
            if currentUser.admin
              form(method='POST' action='/messages/delete')
                input#messageid.form-control(type='hidden' name='messageid' require='true' value=message._id)
                button(type='submit') Delete
